@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f5f7fb;
}

.display {
    display: flex;
}

/* Sidebar */
.dashboard {
    width: 260px;
    height: 93vh;
    background: white;
    border-radius: 20px;
    margin: 40px 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding-top: 20px;
}

.dashboard ul {
    list-style: none;
}

.dashboard ul li {
    font-size: 16px;
    padding: 18px 30px;
    display: flex;
    align-items: center;
    gap: 14px;
    color: #333;
    cursor: pointer;
    border-left: 4px solid transparent;
    transition: 0.3s;
}

.dashboard ul li:hover {
    background: #eef5ff;
    color: #0066FF;
    border-left-color: #0066FF;
}

.dashboard ul li.active {
    background: #e7f0ff;
    color: #0066FF;
    border-left: 4px solid #0066FF;
}

.dashboard ul li img {
    width: 20px;
}

/* Right Section */
.left {
    flex: 1;
    background: white;
    height: 93vh;
    border-radius: 20px;
    margin-top: 40px;
    padding: 30px;
    overflow-y: auto;
}

.heading {
    font-size: 28px;
    margin-bottom: 25px;
}

/* Filters */
.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.filters select, .filters button {
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.apply-btn {
    background: #007bff;
    color: white;
    border: none;
}

.pdf-btn {
    background: #28a745;
    color: white;
    border: none;
}

.excel-btn {
    background: #1f8b2f;
    color: white;
    border: none;
}

/* Table */
.student-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background: #0066FF;
    color: white;
    padding: 12px;
    font-size: 15px;
}

tbody td {
    padding: 12px;
    font-size: 15px;
    border-bottom: 1px solid #eee;
}

tbody tr:hover {
    background: #f8faff;
}
